:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --primary-color-link: #2196f3;
  --white-color: #ffffff;
  --black-color: #000000;
  --card-set-gap: 30px;
}

body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
ul,
p,
li {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

/* цвет основного текста #757575; */
/* вторичный цвет текста #212121; */
/* белый #FFFFFF */
/* синий #2196F3 */
/* вторичный цвет фона #F5F4FA */
/* черный цвет  #000000 */

/* header */

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

header {
  background-color: var(--white-color);
  border-bottom: 1px solid #ececec;
}

.conteiner-nav {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--black-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
}

.logo-text {
  color: var(--primary-color-link);
  text-decoration: none;
}

.site-nav {
  margin: 0 0 0 93px;
}

.conteiner-contakt {
  margin-left: auto;
}

.site-nav .link {
  color: var(--title-text-color);
}

.site-nav .link {
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;
}

.site-nav,
.auth-nav {
  display: flex;
  padding-left: 0;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.auth-nav .item + .item {
  margin-left: 50px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--primary-color-link);
}

.item .link {
  display: inline-flex;
}

.auth-nav .link {
  padding-bottom: 32px;
  padding-top: 32px;
  color: var(--primary-text-color);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--primary-color-link);
}

.link:hover .icon-tell,
.link:focus .icon-tell {
  fill: #2196f3;
}

.icon-tell {
  fill: var(--primary-text-color);
  margin-right: 10px;
}

.site-nav .current {
  color: var(--primary-color-link);
}

/* ------------ MAIN---------- */

/* ------HERO------ */

.hero {
  padding: 200px 0;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--white-color);
  text-align: center;
}

.hero-title {
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  padding: 10px 32px;
  border: none;
  background-color: var(--primary-color-link);
  color: var(--white-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button:hover .button:focus {
  background-color: #188ce8;
}

/* ------section------- */

.item .icon {
  display: block;
  width: 270px;
  height: 120px;
  padding: 25px 100px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.advantage {
  padding-bottom: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantage-block {
  display: flex;
}

.advantage-block .item {
  width: 270px;
}

.advantage-block .item:not(:last-child) {
  margin-right: 30px;
}

.section-title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.advantage-title {
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.pictures {
  display: flex;
}

.pictures .item:not(:last-child) {
  margin-right: 30px;
}

.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-block {
  display: flex;
}

.team-block .item:not(:last-child) {
  margin-right: 30px;
}

.team-block .item {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  margin-top: 30px;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.work-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.work-name {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
}

.text {
  line-height: 1.71;
}

.position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.social-icon {
  display: inline-flex;
  padding: 0 32px 30px 32px;
}

.social-icon .icons:not(:last-child) {
  margin-right: 10px;
}

.icon-soc {
  width: 44px;
  height: 44px;
  padding: 12px;
  fill: #afb1b8;
}

.icons .link:hover,
.icons .link:focus {
  fill: #ffffff;
  background-color: #2196f3;
  border-radius: 50%;
}

.icons .link:hover .icon-soc,
.icons .link:focus .icon-soc {
  fill: #ffffff;
}

/* company */

.company-block {
  display: flex;
}

.company-block .item {
  padding: 16px 32px;
}

.company-block .item {
  width: 170px;
  height: 92px;
  cursor: pointer;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.company-block .link {
  display: block;
  fill: #afb1b8;
}

.company-block .link:hover,
.company-block .link:focus {
  fill: #2196f3;
}

.company-block .item:hover,
.company-block .item:focus {
  border-color: #2196f3;
}

.company-block .item:not(:last-child) {
  margin-right: 30px;
}

/* карточка работ */

main {
  background-color: var(--white-color);
}

.card-content {
  padding: 20px 24px;

  background-color: #ffffff;

  border: 1px solid #eeeeee;
  border-top: 0px;
}

.work-name {
  margin-top: 4px;
}

.card-work {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.card-work > .item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.card-work .item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.filter {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.button-filter {
  padding: 6px 22px;
  border: none;
  background-color: #f5f4fa;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
}

.filter .item:not(:last-child) .button-filter {
  margin-right: 8px;
}

.button-filter:hover,
.button-filter:focus {
  color: var(--white-color);
  background-color: var(--primary-color-link);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* footer */

.logo-footer {
  display: block;
  margin-bottom: 20px;
  color: var(--white-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-nav .item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-nav .link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.link-adress {
  color: var(--white-color);
  font-style: normal;
}

.link-adress:hover,
.link-adress:focus {
  color: var(--primary-color-link);
}

.footer-nav .link:hover,
.footer-nav .link:focus {
  color: var(--primary-color-link);
}

/* --footer social link--- */

.social-link {
  margin-left: 70px;
  padding-top: 12px;
}

.social-link-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer .container {
  display: flex;
}
.footer-icon {
  display: inline-flex;
}

.footer-icon .icons-footer:not(:last-child) {
  margin-right: 10px;
}
.icons-footer .link {
  display: block;
  list-style: none;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.icon-insta {
  width: 44px;
  height: 44px;
  padding: 12px;
  fill: #ffffff;
}

.icons-footer .link:hover,
.icons-footer .link:focus {
  background-color: #2196f3;
  border-radius: 50%;
}

.icons .link:hover .icon-soc,
.icons .link:focus .icon-soc {
  fill: #ffffff;
}
